@model RestaurantPaymentSystem.Models.Category

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Subcategories[0].SubcategoryName)
        </th>
        <th>
            @Html.HiddenFor(model => model.Subcategories[0].CategoryId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Subcategories) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SubcategoryName)
        </td>
        <td>
            @Html.HiddenFor(modelItem => item.CategoryId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", "Subcategory", new { id=item.Id }, null) |
            @Html.ActionLink("Details", "Details", "Subcategory", new { id=item.Id }, null) |
            @Html.ActionLink("Delete", "Delete", "Subcategory", new { id=item.Id }, null)
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Create New Subcategory", "Create", new { categoryId = Model.Id })
</p>